@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Test FIAP Guilherme V. M. Carvalhal</h1>
</div>
<p>Aluno: </p>
<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Aluno" asp-action="CriaAluno">Cria Aluno</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Aluno" asp-action="ListaAluno">Lista Alunos</a></li>
</ul>
<p>Turma: </p>
<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Turma" asp-action="CriaTurma">Cria Truma</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Turma" asp-action="ListaTurma">Lista Turmas</a></li>
</ul>
<p>Relacao: </p>
<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Relacao" asp-action="CriaRelacao">Cria Relação</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Relacao" asp-action="ListaRelacao">Lista Relações</a></li>
</ul>
